{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{# <div class="container"> #}
	<h1 class="text-center ">Nos produits phares
		<i class="fa fa-check"></i>
	</h1>
	<div class="row">
		{% for p in products %}

			<div class="col">
				<div class="card">
					<img class="img-fluid" src="{{p.mainPicture}}" alt="Image du produit">
					<div class="card-body">
						<h4 class="card-title">{{p.name}}
							({{p.price /100}}
							€)
						</h4>
						<span class="badge text-bg-info">
							{{p.category.name}}
						</span>
						<p class="card-text text-center">{{p.shortDescription}}</p>
						<a href="#" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success  btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2 class="text-center">Un service irréprochable !</h2>
	<p class="p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa accusantium porro repudiandae ex.</p>


	<div class="row">
		{% include "shared/_assurance.html.twig" with {
        'color': 'primary',
        'icone': 'fas fa-truck',
        'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatum voluptates nihil pariatur qui?"
        }
        %}
		{% include "shared/_assurance.html.twig" with {
        'color': 'success',
        'icone': 'fas fa-check',
        'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatum voluptates nihil pariatur qui?"
        }
        %}
		{% include "shared/_assurance.html.twig" with {
        'color': 'warning',
        'icone': 'fas fa-lock',
        'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatum voluptates nihil pariatur qui?"
        }
        %}


	</div>
	{# </div> #}

{% endblock %}
